.content-video {
    text-align: center;
    @include container();
}

.content-video__item {
    background: url("../img/video-mobile@1x.jpg") no-repeat;
}

.content-video__title {
    font-size: 18px;
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.content-video__slogan {
    line-height: 24px;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .content-video__title {
        font-size: 30px;
    }

    .content-video__item {
        @include container();
        background-position: center;
    }
}
