.form-inner {
    line-height: 26px;
    @include container();
}

.form-inner__title {
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
}

.form-group {
    display: flex;
    justify-content: space-between;

    &--column {
        flex-direction: column;
    }

    &--around {
        justify-content: space-around;
    }
}

.form-inner__btn {
    padding: 21px 47px;
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .form-inner {
        width: 324px;
    }

    .form-group {
        margin-left: 59px;
    }

    .form-inner__title {
        font-size: 21px;
        margin-top: 58px;

        &--cols {
            width: 285px;
            margin: 0 auto;
            margin-top: 58px;
            margin-bottom: 65px;
        }
    }

    .form-inner--order {
        order: -1;
    }

    .form-inner--width-fullpage {
        width: 100%;
        text-align: center;
    }
}
