.page-footer {
    line-height: 26px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 76px;
}

.page-footer__title {
    font-size: 21px;
}

.page-footer__copyright a {
    font-size: 14px;
}

@media (min-width: 768px) {
    .page-footer {
        @include container();
        margin-top: 76px;
        flex-direction: row;
        justify-content: space-around;
    }
}
