.page-intro__wrapper {
    min-height: 388px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.page-intro {
    line-height: 26px;
    border: 2px solid red;
}

.page-intro__title {
    font-size: 18px;
    font-weight: bold;
}

.page-intro__slogan--low-lh {
    line-height: 24px;
}
