.page-intro__wrapper {
    min-height: 388px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.page-intro {
    text-align: center;
}

.page-intro__title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 255px;
    padding-top: 46px;
    padding-bottom: 40px;
}

.page-intro__slogan {
    display: block;
    width: 253px;
    margin: 0 auto;
    padding-bottom: 50px;

    &--low-lh {
        width: 278px;
        line-height: 24px;
        padding-bottom: 35px;
    }

    &--lowpadding {
        padding-bottom: 22px;
    }
}

@media (min-width: 768px) {
    .page-intro {
        @include container();
    }

    .page-intro__title {
        width: 443px;
        font-size: 21px;
        line-height: 26px;

        &--larger-fz {
            font-size: 30px;
            padding-top: 75px;
            padding-bottom: 35px;
        }
    }

    .page-intro__slogan {
        width: 489px;

        &--low-lh {
            padding-bottom: 70px;
        }

        &--lowpadding {
            padding-bottom: 26px;
        }
    }
}

@media (min-width: 1280px) {
    .page-intro__slogan {
        line-height: 26px;
    }
}
