.page-intro__wrapper {
    min-height: 388px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.page-intro {
    line-height: 26px;
    text-align: center;
}

.page-intro__title {
    font-size: 18px;
    font-weight: bold;
    @include container();
}

.page-intro__slogan {
    @include container();
    margin-top: 29px;
    margin-bottom: 28px;

    &--low-lh {
        line-height: 24px;
    }
}

@media (min-width: 768px) {
    .page-intro {
        @include container();
    }
    .page-intro__title {
        font-size: 21px;

        &--larger-fz {
            font-size: 30px;
        }
    }
}
