.reason-card-wrapper {
    display: flex;
    flex-direction: column;
    background: $bg-blue;
    color: #fff;
    text-align: center;

    &--gray {
        background: #eeeeee;
        color: #333;
    }
}

@media (min-width: 768px) {
    .reason-card-wrapper {
        @include container();
        flex-direction: row;

        &--another-direction {
            flex-direction: row-reverse;
        }
    }
}

.xxx {
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .xxx {
        @include container();
        flex-direction: row;
    }
}
