.reason-card__title {
    font-size: 18px;
    line-height: 26px;
    display: block;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 10px;

    &--lowpadding {
        padding-top: 29px;
    }
}

.reason-card__desc {
    display: block;
    width: 267px;
    padding-top: 19px ;
    padding-bottom: 37px;
    margin: 0 auto;

    &--lowpadding {
        padding-top: 15px;
        padding-bottom: 28px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 85px;
            left: 0;
            height: 1px;
            width: 267px;
            background-color: #d6d6d6;
        }
    }
}

@media (min-width: 768px) {
    .reason-card__title {
        font-size: 21px;
        width: 151px;
        padding-top: 49px;
    }

    .reason-card__desc {
        width: 157px;
        margin: 0 auto;
        padding-bottom: 46px;


        &--lowpadding::after {
            display: none;
        }
    }
}

@media (min-width: 1280px) {
    .reason-card__desc {
        width: 264px;
    }
}
