.reasons-list {
    background: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    list-style: none;
}

@media (min-width: 768px) {
    .reasons-list {
        flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .reasons-list {
        @include container();
    }
}
