.sale-block {
    text-align: center;
}

.sale-block__title {
    font-size: 21px;
    line-height: 26px;
}

.sale-block__desc {
    line-height: 24px;
}

@media (min-width: 768px) {
    .sale-block {
        @include container();
    }
    .sale-block__title {
        font-size: 30px;
    }
}
